domain_auto_trans(init, shell_exec, shell)

allow init alarm_device:chr_file { read open };
allow init debugfs:dir mounton;
allow init debugfs:file w_file_perms;
allow init diag_device:chr_file unlink;
allow init efs_block_device:lnk_file relabelto;
allow init efs_file:dir mounton;
allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init debugfs:file write;
allow init sysfs:lnk_file setattr;
allow init exfat:dir search;
allow init shell_exec:file execute_no_trans;
allow init sysfs:file { open write setattr };
allow init sysfs_graphics:file setattr;
allow init sysfs_vibeamp:file setattr;
allow init system_file:file execute_no_trans;
allow init self:socket { create ioctl };
allow init smd_device:chr_file { write ioctl };
allow init proc:file { write open };
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_msm_power:file write;
allow init qmuxd_socket:sock_file write;
allow init qmuxd:unix_stream_socket connectto;
allow init sysfs_msm_power:file open;
allow init sysfs_process_reclaim:file { write open };
allow init sysfs_thermal:file write;
allow init sysfs_socinfo:file write;
allow init system_data_file:chr_file getattr;
allow init sysfs_net:file write;
allow init fm_radio_device:chr_file ioctl;
allow init sysfs_fm:file write;

allow init sysfs_lowmemorykiller:file w_file_perms;
allow init sysfs_mdnie:file setattr;
allow init sysfs_sensors:file { r_file_perms setattr };
allow init sysfs_sensors:lnk_file r_file_perms;
allow init vendor_file:file execute_no_trans;
allow init vendor_toolbox_exec:file execute_no_trans;

binder_call(init, system_server)

set_prop(init, vendor_wifi_prop)
