# TODO - root cause why the kernel generating this denial.
allow kernel domain:process setsched;
allow kernel self:capability { chown dac_read_search };
allow kernel exfat:dir search;
