allow shell media_rw_data_file:dir create_dir_perms;
allow shell media_rw_data_file:file create_file_perms;
#allow shell sdcard_posix:dir create_dir_perms;
#allow shell sdcard_posix:file create_file_perms;
allow shell vfat:dir create_dir_perms;
allow shell vfat:file create_file_perms;
